<!DOCTYPE html>
<html>

<head>
	<title>ArchitectPlan - Architects Management</title>
	<link rel="stylesheet" href="/css/stile.css" />
	<link rel="icon" href="static/favicon.png" type="image/png">

</head>

<body class="body">
	<header class="header">
		<div>
			<div>
				<a href="/"><img src="/images/home.png" alt="Home" /></a>
			</div>   
			
			<div th:if="${userDetails}">
				<a th:text="${userDetails.username}" class="nav-log"></a><br>
				<a href="/logout" class="nav-link">Logout <i class='bx bx-user'></i></a>
			</div>
			<div th:unless="${userDetails}">
				<a href="/login" class="nav-link">Login <i class='bx bx-user'></i></a>
			</div>
			
			<div>
				<a href="/project" class="nav-link">Projects</a>
				<a href="/architect" class="nav-link">Architects</a>
				<a href="/formSearchProject" class="nav-link">Search a project</a>
				<a href="/architect/indexRequest" class="nav-link">Manage request</a>
				<a href="/architect/indexProject"  class="nav-link">Manage project</a>
				<a href="/admin/indexArchitect" class="nav-link">Manage architect</a>
			</div>
		</div>
	</header>
	<!--Home-->
	<div class="home">
		<h1 class="home-text">Architects</h1>
		<div th:if="${architects==null || architects.isEmpty()}">There are no architects in the system</div>
		<ul class="item-list">
			<li th:each="architect : ${architects}">
				<br>
				<span th:text="${architect.name}" class="highlight">Renzo</span>
				<span th:text="${architect.surname}" class="highlight">Piano</span><br><br>

				<a th:href="@{'/admin/formUpdateArchitect' + '/' + ${architect.id}}" class="btn">Info</a>
				
				<a th:href="@{'/admin/deleteArchitect' + '/' + ${architect.id}}" class="btn">Delete</a>

				<a th:href="@{'/admin/linkArchitectToProject' + '/' + ${architect.id}}" class="btn">Add Project</a> 
			</li>
		</ul>
	</div>
	
	<footer>
		<p>Contact us: info@architectplan.com</p>	
		<p>Follow us on 
			<a href="#"><img src="/images/facebookLogo.png" alt="Facebook" /></a>
			<a href="#"><img src="/images/x_logo.jpeg" alt="Twitter" /></a>
			<a href="#"><img src="/images/instagram-logo.jpeg" alt="Instagram"/></a>
		</p>
	</footer>
</body>

</html>
