<!DOCTYPE html>
<html>
<head>
    <title>Our projects</title>
    <link rel="stylesheet" href="/css/stile.css" />
</head>    
<body>
    <header>
        <div>
            <div>
                <a href="/"><img src="/images/home.png" alt="Home" /></a>
            </div>   
            <div th:if="${userDetails}">
                <a th:text="${userDetails.username}" class="nav-log"></a><br>
                <a href="/logout" class="nav-link">Logout <i class='bx bx-user'></i></a>
            </div>
            <div th:unless="${userDetails}">
                <a href="/login" class="nav-link">Login <i class='bx bx-user'></i></a>
            </div>
            <div>
                <a href="/project" class="nav-link">Projects</a>
                <a href="/architect" class="nav-link">Architects</a>
                <a href="/formSearchProject" class="nav-link">Search a project</a>
            </div>
        </div>
    </header>
       
    <div class="home-text">
        <h1>Projects:</h1>
        <div th:if="${projects==null || projects.isEmpty()}">No projects found.</div>
		<ul class="item-list">
		    <li th:each="project : ${projects}">
		        <a th:href="@{'/project' + '/' + ${project.id}}" th:text="${project.name}"></a>
		    </li>
		</ul>
    </div>
	
	<footer>
	       <p>Contact us: info@architectplan.com</p>
	       <p>Follow us on 
	           <a href="#"><img src="/images/facebookLogo.png" alt="Facebook" /></a>
	           <a href="#"><img src="/images/x_logo.jpeg" alt="Twitter" /></a>
			<a href="#"><img src="/images/instagram-logo.jpeg" alt="Instagram"/></a>
		</p>
	 </footer>
</body>
</html>
